<div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h1>Elements</h1>
                </div>
                <div class="col-7">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="setting_billing.html#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Elements</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- content area -->
    <div class="content-body">
        <div class="container">
            <div class="row">

                <div class="col-xl-7">
                    <div class="setting-billing">

                        <div class="list-group">

                            <div class="list-group-item">

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">NAME</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="val-username" placeholder="John Doe">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">COUNTRY</label>
                                    <div class="col-lg-8">
                                        <select class="form-control">
                                            <option selected="selected">India</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">STATE</label>
                                    <div class="col-lg-8">
                                        <select class="form-control">
                                            <option selected="selected">Delhi</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">TOWN/CITY</label>
                                    <div class="col-lg-8">
                                        <select class="form-control">
                                            <option selected="selected">Noida</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">STREET ADDRESS</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="val-add" placeholder="Street 2/45 House No. 120">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">PHONE NUMBER</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="val-no" placeholder="+91 123 456 7890">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">EMAIL ADDRESS</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="val-username" placeholder="Johndoe@gmail.com">
                                    </div>
                                </div>

                            </div>

                            <div class="list-group-item text-center">
                                <button class="btn btn-secondary">SAVE ADDRESS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>