<div class="section nobg clearfix">
    <div class="container clearfix">
    <div class="heading-block divcenter nobottomborder center clearfix" style="max-width: 600px">
    <small class="text-black-50 uppercase ls3 t600">Accessories</small>
    <h2 class="capitalize t600 mb-2" style="font-size: 36px; letter-spacing: -1px">Looking for more Addons?</h2>
    <p class="mb-3">Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
    <div class="center"><div class="button ls0 button-rounded button-border nott t400 ">View More</div></div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-3 col-sm-6">
    <a href="demo-bike.html#" class="iportfolio border d-block bg1 clearfix">
    <div class="portfolio-image clearfix">
    <img src="./../../../assets/images/items/1.png" alt="Image">
    </div>
    <div class="portfolio-desc d-flex align-items-center justify-content-between position-absolute w-100" style="bottom: 0; padding: 0 20px 15px;">
    <h3 class="mb-0 text-dark">Bike Helmet</h3>
    <h6 class="text-dark">$ 5.99/Day</h6>
    </div>
    </a>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mt-sm-0">
    <a href="demo-bike.html#" class="iportfolio border d-block clearfix">
    <div class="portfolio-image clearfix">
    <img src="./../../../assets/images/items/2.png" alt="Image">
    </div>
    <div class="portfolio-desc d-flex align-items-center justify-content-between position-absolute w-100" style="bottom: 0; padding: 0 20px 15px;">
    <h3 class="mb-0 text-dark">Leather Gloves</h3>
    <h6 class="text-dark">$ 2.19/Day</h6>
    </div>
    </a>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
    <a href="demo-bike.html#" class="iportfolio border d-block bg1 clearfix">
    <div class="portfolio-image clearfix">
    <img src="./../../../assets/images/items/3.png" alt="Image">
    </div>
    <div class="portfolio-desc d-flex align-items-center justify-content-between position-absolute w-100" style="bottom: 0; padding: 0 20px 15px;">
    <h3 class="mb-0 text-dark">Water Bottles</h3>
    <h6 class="text-dark">$ 3.99/Day</h6>
    </div>
    </a>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
    <a href="demo-bike.html#" class="iportfolio border d-block clearfix">
    <div class="portfolio-image clearfix">
    <img src="./../../../assets/images/items/4.png" alt="Image">
    </div>
    <div class="portfolio-desc d-flex align-items-center justify-content-between position-absolute w-100" style="bottom: 0; padding: 0 20px 15px;">
    <h3 class="mb-0 text-dark">Bottle Holder</h3>
    <h6 class="text-dark">$ 1.99/Day</h6>
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>