<div class="row topmargin align-items-center divcenter bottommargin-lg" style="max-width: 840px">
    <div class="col-md-3 mb-2 mb-md-0">
    <h3 class="mb-0">Partners:</h3>
    </div>
    <div class="col-md-9">
              
                    <owl-carousel-o [options]="customOptions">
                            <div id="oc-images" 
                            class="owl-carousel image-carousel carousel-widget" 
                            data-margin="50" 
                            data-nav="false" 
                            data-pagi="false" 
                            data-items-xs="2" 
                            data-items-md="3" 
                            data-items-xl="4" 
                            data-loop="true" 
                            data-autoplay="3500"
                          >
                   
                            <ng-template carouselSlide [width]="112">
                                    <div class="owl-item" style="width: 112.5px; margin-right: 50px;">
                                            <div class="oc-item" style="width: 112.5px; margin-right: 50px;">
                                    <a href="demo-bike.html#"><img src="./../../../assets/images/clients/1.png" alt="clients"></a>
                                                    </div>
                            </div>
                            </ng-template>
                            <ng-template carouselSlide [width]="112">
                                            <div class="owl-item" style="width: 112.5px; margin-right: 50px;">
                                                    <div class="oc-item" style="width: 112.5px; margin-right: 50px;">
                                            <a href="demo-bike.html#"><img src="./../../../assets/images/clients/1.png" alt="clients"></a>
                                                            </div>
                                    </div>
                                    </ng-template>
                            <ng-template carouselSlide [width]="112">   <div class="owl-item" style="width: 112.5px; margin-right: 50px;"><div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/3.png" alt="clients"></a></div></div></ng-template>
                            <ng-template carouselSlide [width]="112">   <div class="owl-item" style="width: 112.5px; margin-right: 50px;"><div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/4.png" alt="clients"></a></div></div></ng-template>
                            <ng-template carouselSlide [width]="112">  <div class="owl-item" style="width: 112.5px; margin-right: 50px;"><div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/5.png" alt="clients"></a></div></div></ng-template>

                   
                    <!-- <div class="oc-item"><ng-template carouselSlide>      <div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/2.png" alt="clients"></a></div></ng-template>
                            <div class="oc-item"><ng-template carouselSlide>    <div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/3.png" alt="clients"></a></div></ng-template>
                            <div class="oc-item"><ng-template carouselSlide>   <div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/4.png" alt="clients"></a></div></ng-template>
                            <div class="oc-item"><ng-template carouselSlide>   <div class="oc-item"><a href="demo-bike.html#"><img src="./../../../assets/images/clients/5.png" alt="clients"></a></div>
                    </div> -->
            </div>
                    </owl-carousel-o>
    </div>
    </div>