<div class="section nobg" style="padding: 80px 0">
    <div class="container">
    <div class="heading-block divcenter nobottomborder center" style="max-width: 600px">
    <i class="icon-et-bike d-block h1 mb-4 text-black"></i>
    <small class="text-black-50 uppercase ls3 t600">What We Have Done</small>
    <h2 class="nott t600 mb-2" style="font-size: 36px; letter-spacing: -1px"><span class="counter counter-inherit text-dark inline-block">More than <code class="color"><span data-from="0" data-to="8465" data-refresh-interval="10" data-speed="1100"></span></code>+</span> Bikes are already Rented in <span>11</span> Countries.</h2>
    <p class="lead">Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
    </div>
    <ul class="skills divcenter" style="max-width: 600px">
    <li data-percent="80">
    <div class="progress">
    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="8465" data-refresh-interval="10" data-speed="1100"></span></div></div>
    </div>
    </li>
    </ul>
    </div>
    </div>