<div class="section nobg clearfix">
    <div class="container">
    <div class="row align-items-center justify-content-between">
    <div class="col-lg-6">
    <div class="heading-block nobottomborder mb-0">
    <small class="text-black-50 uppercase ls3 t600">Contact Us</small>
    <h2 class="capitalize t600 mb-2" style="font-size: 44px; letter-spacing: -1px">Still Can't Decide?!</h2>
    <p class="lead">Energistically syndicate team building synergy after efficient human capital. Assertively underwhelm sticky solutions.</p>
    </div>
    </div>
    <div class="col-lg-6 d-inline-block d-sm-inline-flex justify-content-start justify-content-lg-end">
    <div class="button button-xlarge ls0 button-rounded button-border nott t400 ">Start Renting</div>
    <div class="button button-xlarge ls0 button-rounded button-shadow nott t400 ">Contact Us</div>
    </div>
    </div>
    </div>
    </div>