<div class="modal1 mfp-hide" id="modal-register">
  <div class="card divcenter" style="max-width: 540px;">
  <div class="card-header py-3 nobg center">
  <h3 class="mb-0 t400">Hello, Welcome Back</h3>
  </div>
  <div class="card-body divcenter py-5" style="max-width: 70%;">
  <a href="demo-bike.html#" class="button button-large button-rounded btn-block si-colored si-facebook nott t400 ls0 center nomargin"><i class="icon-facebook-sign"></i> Log in with Facebook</a>
  <div class="divider divider-center"><span class="position-relative" style="top: -2px">OR</span></div>
  <form id="login-form" name="login-form" class="nobottommargin row" action="#" method="post">
  <div class="col-12">
  <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark" placeholder="Username" />
  </div>
  <div class="col-12 mt-4">
  <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark" placeholder="Password" />
  </div>
  <div class="col-12">
  <a href="demo-bike.html#" class="fright text-dark t300 mt-2">Forgot Password?</a>
  </div>
  <div class="col-12 mt-4">
  <button class="button button-rounded btn-block nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
  </div>
  </form>
  </div>
  <div class="card-footer py-4 center">
  <p class="mb-0">Don't have an account? <a href="demo-bike.html#"><u>Sign up</u></a></p>
  </div>
  </div>
  </div>
